{% include 'sca_freegift_price' with product %}
{% unless grid_image_width %}
  {%- assign grid_image_width = '600x600' -%}
{% endunless %}
  <div class="row-container list-unstyled clearfix">
    <div class="row-left">
      <a href="{{ product.url | within: collection }}" class="hoverBorder container_item">
        <span id="secomapp-fg-image-{{ product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "", "sca-fg-img-collect" }} </span>
        <span class="sca-fg-cat-list prod-show-list" style="display:none;" id="secomapp-fg-data-{{ product.id }}"> </span>
        <div class="front">
          <script>console.log({{product.media | json }})</script>
          {% for media in product.media %}
            {% if forloop.index == 1 %}
              {% case media.media_type %}
                {% when 'image' %}
                  <img class="normal" src="{{ media | product_img_url: '1000X' }}" alt="{{ media.alt | escape }}" />
                {% when 'external_video' %}
                  <div class="product-single__media">
                    {{ media | external_video_tag : class: "youtube_video" }}
                  </div>
                {% when 'video' %}
                  <div class="product-single__video">
                    {{ media | video_tag: autoplay: true,  loop: true }}
                  </div>
                {% else %}
                  <div class="product-single__media">
                    {{ media | media_tag }}
                  </div>
              {% endcase %}
            {% endif %}        
          {% endfor %}
        </div>
         
        {% if product.images[2]%}
            <img src="{{ product.images[2]| product_img_url: '1000X1000' }}" class="secondimage" alt="{{ product.images[2].alt | escape }}" />
        {% endif %}
       {% comment %} <div class="hoverBorderWrapper">
          {% for image in product.images %}
          {% endfor %}
          {% capture number_of_images %}{{ product.images | size }}{% endcapture %}
          {% assign number_images = number_of_images | plus:0 %}
          <img src="{{ product.featured_image | product_img_url: grid_image_width , crop: 'bottom' }}" class="{% if settings.product_item_effect != 'rotation' %}not-rotation{% endif %} img-responsive front" alt="{{ product.featured_image.alt | escape }}" />
          <div class="mask"></div>
          {% if number_images > 1 and settings.product_hover_effect %}
          <span class="hidden-sm hidden-xs back">
            <img src="{{ product.images[1]| product_img_url: grid_image_width , crop: 'bottom' }}" class="rotation img-responsive" alt="{{ product.images[1].alt | escape }}" />
          </span>
          {% endif %}
        </div>        {% endcomment %}
      </a>

    </div>

    <div class="row-right animMix">
      <div class="collec-title">
        {% if product.available %}
          {% assign in_stock = false %}
          {% for v in product.variants %}
            {% if v.available %}
              {% assign in_stock = true %}
            {% endif %}
          {% endfor %}
          {% if in_stock == false %}
            <span style="color: #ea0000;">SOLD OUT</span>
          {% else %}
            {% for tag in product.tags %}
              {% if tag contains 'new in' %}
                <span style="color:#949494">New in</span>
              {% elsif tag contains 'IN SUPPORT OF SICKKIDS' %}
                <span style="color:#4870AE">IN SUPPORT OF SICKKIDS</span>
              {% elsif tag contains 'GIFT WITH PURCHASE' %}
                <span style="color:#949494">GIFT WITH PURCHASE</span>
        	  {% elsif tag contains 'FW20 PREORDER' %}
                <span style="color:#949494">FW20 PREORDER</span>
          	{% elsif tag contains 'sale' %}
                <span style="color:red">SALE</span>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% else %}
        <span style="color: #ea0000;">SOLD OUT</span>
        {% endif %}
          <div class="wishlist hidden-xs">
                    <a title="Add To Wishlist" class="wishlist wishlist-{{ product.handle }}" data-wishlisthandle="{{ product.handle }}"><i class="sticon-heart" aria-hidden="true"></i></a>
         </div>
              <div class="product-title"><a class="title-5" href="{{ product.url | within: collection }}">{{ product.title }}</a></div>
        </div>

      <div class="color_option">
          {% for option in product.options %}
            {% if option == 'Color' or option == 'Colour' %}

            {% assign index = forloop.index0 %}

            {% assign colorlist = '' %}
            {% assign color = '' %}
            {% for variant in product.variants %}
            {% unless variant.metafields.secomapp.freegifts %}
            {% unless variant.title contains '(Freegifts)' %}


            {% capture color %}
            {{ variant.options[index] }}
            {% endcapture %}

            {% unless colorlist contains color %}

            <span>{{color}}</span>
            {% capture tempList %}
            {{colorlist | append: color | append: ' '}}
            {% endcapture %}
            {% assign colorlist = tempList %}
            {% endunless %}

            {%endunless%}
            {%endunless%}
            {% endfor %}
            {% endif %}

            {% endfor %}
        </div>
      <div class="group_price_rating">
        <div class="rating-star">
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>

        <div class="product-price">
            {% if sca_compare_at_price_max > sca_price %}
              {% assign found_one_in_stock = false %}
              {% for variant in product.variants %}
              {% unless variant.metafields.secomapp.freegifts %}
              {% unless variant.title contains '(Freegifts)' %}

                {% if variant.available and variant.compare_at_price and found_one_in_stock == false %}
                  {% assign found_one_in_stock = true %}
                  <span class="price_sale">{{ variant.price | money }}</span>
                  <del class="price_compare"> {{ variant.compare_at_price | money }}</del>
                {% endif %}

              {%endunless%}
              {%endunless%}
              {% endfor %}
              {% if found_one_in_stock == false %}
                {% for variant in product.variants %}
                {% unless variant.metafields.secomapp.freegifts %}
                {% unless variant.title contains '(Freegifts)' %}

                  {% if variant.available and found_one_in_stock == false %}
                    {% assign found_one_in_stock = true %}
                    <span class="price">
                      {{ variant.price | money }}
                    </span>
                  {% endif %}

                {%endunless%}
                {%endunless%}
                {% endfor %}
              {% endif %}
            {% else %}
              <span class="price">
                {% if sca_price_varies %}
                {{ sca_price | money }}
                {% else %}
                {{ sca_price | money }}
                {% endif %}
              </span>
            {% endif %}
        </div>
      </div>


    </div>
  </div>
