 
{% assign megaitem = section.settings.mega_item | downcase  %}
{% assign megaitem = megaitem | split: ',' | uniq  %}

{% for l in linklists[nav_link].links %}
  {% assign submenu = l.title | handleize %}
  {% assign item = l.title | downcase  | handleize  %}
  <li rel="{{item}} {{megaitem}}" class="mainitem {% if l.active %}active {% endif %}  {% if megaitem contains item %} has_deskmega{% endif %}">
    <a href="{{ l.url }}" class="mainmenu" data-toggle="dropdown">
      <span>{{ l.title }}</span>
       {% if megaitem contains item %} <span class="sticon-caret-d-small"></span>{% endif %}
    </a>

    {% assign showmega = false %}
    {% if megaitem contains item %}
    <div class="megadropdown">
    {% for block in section.blocks %}
    		
            {% assign megahandle = block.settings.mega_handle | handleize %}
     		{% if submenu == megahandle %}
    			{% assign showmega = true %}
    		{% endif %}
    		{% if forloop.index == 1 %}<ul class="megawrap">{% endif %}
   			{% if showmega %}
    			
              {% if block.type == 'mega_menu_items' %}
      			<li>
              <a href="{{block.settings.link}}" class="megainnerlink">
              	{{block.settings.mega_title}}
              </a>
              <div class="merga-imgblock" >
              	{% for i in (1..4) %}
                {% assign b_img = 'image' | append: i %}
                {% assign b_head = 'heading' | append: i %}
                {% assign b_link = 'link' | append: i %}
                {% if block.settings[b_img]  %}
                 <div class="mega_imgcol">
                   {% if block.settings[b_link] %}<a href="{{block.settings[b_link]}}">{% endif %}
                      
                	 
                     <img src="{{block.settings[b_img] | img_url: "master"}}"/>
                    
                     <span>{{block.settings[b_head]}}</span>
                   {% if block.settings[b_link] %}</a>{% endif %}
                </div>
                 {% endif %}
                {% endfor %}
              </div>
                  </li>
              {% endif %}
      		
    		{% endif %}
           {% if forloop.last %} </ul>{% endif %}
    {% endfor %}
     
 	</div>
    {% endif %}
  </li>



 
{% endfor %}
 