{% comment %}
Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}
{% assign ship_msg = ship_msg | split: ','  %}

{% if swatch == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch.liquid with the name of a product option.</p>
  <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}
{% assign is_size = false %}
{% for option in product.options %}
{% if option == swatch %}
{% assign found_option = true %}
{% assign option_index = forloop.index0 %}
<style>
  label[for="product-select-option-{{ option_index }}"] { display: none; }
  #product-select-option-{{ option_index }} { display: none; }
  #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
</style>
<script>$(window).load(function() { $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
{% assign downcased_option = swatch | downcase %}
{% if downcased_option contains 'color' or downcased_option contains 'colour' %}
{% assign is_color = true %}
{% endif %}
{% if downcased_option contains 'size' or downcased_option contains 'Size' %}
{% assign is_size = true %}
{% endif %}
{% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}
<div class="swatch {{downcased_option}} {% if downcased_option contains 'color' or downcased_option contains 'colour' %} color{% endif %} clearfix {% if hide_default_title %}hide{% endif %}" data-option-index="{{ option_index }}">
 {% if is_color %} <div class="header">{{ swatch }} <span class="seleted_color"></span></div>{% endif %}
  {% if is_size %}

  <div class="prd_ctext sizeguide"><span class="c_pop  "  rel="sizechart" ><span>Size Guide</span>  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
                            <g>
                                <path d="M26,0C11.663,0,0,11.663,0,26s11.663,26,26,26s26-11.663,26-26S40.337,0,26,0z M26,50C12.767,50,2,39.233,2,26
                                    S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z"/>
                                <path d="M26,37c-0.553,0-1,0.447-1,1v2c0,0.553,0.447,1,1,1s1-0.447,1-1v-2C27,37.447,26.553,37,26,37z"/>
                                <path d="M26.113,9.001C26.075,9.001,26.037,9,25.998,9c-2.116,0-4.106,0.815-5.615,2.304C18.847,12.819,18,14.842,18,17
                                    c0,0.553,0.447,1,1,1s1-0.447,1-1c0-1.618,0.635-3.136,1.787-4.272c1.153-1.137,2.688-1.765,4.299-1.727
                                    c3.161,0.044,5.869,2.752,5.913,5.913c0.029,2.084-0.999,4.002-2.751,5.132C26.588,23.762,25,26.794,25,30.158V33
                                    c0,0.553,0.447,1,1,1s1-0.447,1-1v-2.842c0-2.642,1.276-5.105,3.332-6.432c2.335-1.506,3.706-4.063,3.667-6.84
                                    C33.939,12.599,30.401,9.061,26.113,9.001z"/>
                            </g>

  </svg></span></div>

  {% endif %}
  {% assign values = '' %}
  {% comment %}
  {% if downcased_option contains 'Title' or downcased_option contains 'title' %}
  <div class="sw_title">{{option}}</div>
  {% endif %}
  {% endcomment %}
  {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '(Freegifts)' %}

  {% assign value = variant.options[option_index] %}
  {% unless values contains value %}
  {% assign values = values | join: ',' %}
  {% assign values = values | append: ',' | append: value %}
  {% assign values = values | split: ',' %}
  {% if is_size %}
  	{% assign shipmessage = "" %}
    	{% assign sc = 0 %}
        {% assign v_hand =  value | handle %}
   		{% for t in ship_msg %}
    	{% assign tag = t | split: '_' %}
        {% if tag contains v_hand %}
  			{% assign sc = 1 %}
  			{% assign shipmessage = tag[1] %}
  		{% endif %}
       {% endfor %}
  {% endif %}
  <div  data-quantity="{{variant.inventory_quantity}}" data-id="{{ variant.id }}" data-value="{{ value | escape }}" class="swatch-element {{downcased_option}} {% if curent_variant.id == variant.id %}active{% endif %} {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}"
   {% if sc == 1 %} data-shipmessage ="Size {{ value | escape }} will ship in {{shipmessage}}"{% endif %}
       >
    {% if is_color %}
    <div class="tooltip">{{ value }}</div>
    {% endif %}
    <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
    {% if is_color %}
    <label for="swatch-{{ option_index }}-{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; border-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})">

    </label>

    {% else %}
    <label for="swatch-{{ option_index }}-{{ value | handle }}" >
      {{ value }}

    </label>
    {% endif %}
  </div>
  {% endunless %}
  {% if variant.available %}
  <script>
    jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
  </script>
  {% endif %}

{%endunless%}
{%endunless%}
  {% endfor %}
  <script>
    $(function() {
      $('.swatch-element').hover(
        function() {
          if(!$(this).hasClass('soldout')) $(this).addClass("hovered");
        }, function() {
          if(!$(this).hasClass('soldout')) $(this).removeClass("hovered");
      });
      $(".swatch-element").click(function () {
        if(!$(this).hasClass('active') && !$(this).hasClass('soldout') )
        {
            var temp = $(this).parent();
            temp.children('.swatch-element').each(function() {
              $(this).removeClass("active");
            });
            $(this).addClass("active");
           var invent_quantity =  $(this).data('quantity');
          if($(this).attr('data-shipmessage'))
          {
            $('.customcart').hide();
            $('.preordercart').show();
            if($(this).attr('data-shipmessage')) {
               $('.shipdateprd').html($(this).data('shipmessage'));
           	$('.item-ship').show();
            $('input[name="properties[ship_date]"]').attr('value',$(this).data('shipmessage'));
            }
            else
            {
              var custommsg = "Size "+ $(this).data('value') +" will ship immediately";
              $('.shipdateprd').html(custommsg);
           	  $('.item-ship').show();
              $('input[name="properties[ship_date]"]').attr('value',custommsg);
            }
          }
          else
          {
             $('.customcart').show();
             $('.preordercart').hide();
             $('.item-ship').hide();
             $('input[name="properties[ship_date]"]').attr('value','');
             $('.shipdateprd').html('');

             var custommsg = "Size "+ $(this).data('value') +" will ship immediately";
             $('.shipdateprd').html(custommsg);
             $('.item-ship').show();
             $('input[name="properties[ship_date]"]').attr('value',custommsg);
          }

        }
      });
      $(window).load(function(){
        if($('.swatch-element.size.active').data('quantity')<=0){
       $('.item-ship').show();
       if($('.swatch-element.size.active').attr('data-shipmessage')) {
           $('.shipdateprd').html($('.swatch-element.size.active').data('shipmessage'));
           $('input[name="properties[ship_date]"]').attr('value',$('.swatch-element.size.active').data('shipmessage'));
       }
       else{
          var custommsg = "Size "+ $('.swatch-element.size.active').data('value') +" will ship immediately";
              $('.shipdateprd').html(custommsg);
           	  $('input[name="properties[ship_date]"]').attr('value',custommsg);
        }
        }
      });
    });
  </script>
</div>

{% endunless %}

{% endif %}
