<div class="side-section container customer-addresses customer">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-2">
      <div class="content">
        <h1 class="title">{{ 'customer.account.title' | t }}</h1>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="/account">{{ 'customer.orders.title' | t }}</a></li>
          <li class="active"><a href="/account/addresses">{{ 'customer.account.view_addresses' | t }}</a></li>
          <li><a href="/pages/wish-list">{{ 'customer.account.wishlist' | t }}</a></li>
          <li><a href="/account/logout">{{ 'customer.account.logout' | t }}</a></li>
        </ul>
        <select class="page-links">
          <option value="/account" >{{ 'customer.orders.title' | t }}</option>
          <option value="/account/addresses" selected>{{ 'customer.account.view_addresses' | t }}</option>
          <option value="/pages/wish-list">{{ 'customer.account.wishlist' | t }}</option>
          <option value="/account/logout">{{ 'customer.account.logout' | t }}</option>
        </select>
      </div>
    </div>
    <div class="tab-content col-sm-12 col-md-9 col-lg-8">
      <div class="content table-responsive">
        <button type="button" class="btn address-new-toggle">{{ 'customer.addresses.add_new' | t }}</button>
        <table class="table current-address-list">
          {% for address in customer.addresses %}
            <tr>
              <td class="name">
                <p class="title">{{ address.first_name }} {{ address.last_name }}</p>
                {% if address.company != '' %}<p class="company">{{ address.company }}</p>{% endif %}
                {% if address.phone != '' %}<p class="phone">{{ address.phone }}</p>{% endif %}
                <div class="address hide">
                  <p>
                    {{ address.address1 }}<br>
                    {% if address.address2 != "" %}{{ address.address2 }}<br>{% endif %}
                    {{ address.city }} {{ address.province_code }} {{ address.zip }}<br>
                    {{ address.country }}
                  </p>
                </div>
              </td>
              <td class="address">
                <p>
                  {{ address.address1 }}<br>
                  {% if address.address2 != "" %}{{ address.address2 }}<br>{% endif %}
                  {{ address.city }} {{ address.province_code }} {{ address.zip }}<br>
                  {{ address.country }}
                </p>
              </td>
              <td class="default">
                {% if address == customer.default_address %}
                  <p>{{ 'customer.addresses.default' | t }}</p>
                {% else %}
                  
                  <span class="checkbox default-check" >{{ 'customer.addresses.set_default' | t }}<input type="checkbox" id="set-default" class="hide"></span>
                {% endif %}
                <p class="action hide">
                  <a class="address-edit-toggle" data-form-id="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</a>
                  <a class="address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">{{ 'customer.addresses.delete' | t }}</a>
                </p>
                <div id="EditAddress_{{ address.id }}" class="form-vertical edit-form hide">
                  {% form 'customer_address', address %}
                    <div class="grid row">
                      <div class="col-sm-12">
                        <h3>{{ 'customer.addresses.edit_address' | t }}</h3>
                      </div>
                    </div>
                    
                    <div class="grid row">
                      <div class="grid__item col-sm-12">
                        <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                        <input type="text" class="form-control" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}">
                      </div>
                    </div>

                    <div class="grid row">
                      <div class="grid__item col-sm-12">
                        <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                        <input type="text" class="form-control" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}">
                      </div>
                    </div>

                    <div class="grid row">
                      <div class="grid__item col-sm-12">
                        <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone_account' | t }}</label>
                        <input type="text" class="form-control" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}">
                      </div>
                    </div>

                    <div class="grid row">
                      <div class="grid__item col-sm-12">
                        <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                        <input type="text" class="form-control" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}">
                      </div>
                    </div>

                    <div class="grid row">
                      <div class="col-sm-12">
                        <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address' | t }}</label>
                        <input type="text" class="form-control" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}">
                        <input type="text" class="form-control" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}">
                      </div>
                    </div>

                    <div class="grid row">
                      <div class="grid__item col-sm-12">
                        <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                        <input type="text" class="form-control" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}">
                      </div>
                    </div>
                    <div class="grid row">
                      <div class="grid__item col-sm-6">
                        <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                        <input type="text" class="form-control" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                      </div>
                      <div id="AddressProvinceContainer_{{ form.id }}" class="grid_item col-sm-6" style="display:none">
                        <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                        <select id="AddressProvince_{{ form.id }}" class="form-control" name="address[province]" data-default="{{ form.province }}"></select>
                      </div>
                    </div>

                    <div class="grid row">    
                      <div class="grid__item col-sm-12">
                        <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                        <select id="AddressCountry_{{ form.id }}" class="address-country-option form-control" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                      </div>
                    </div>
    
                    <div class="grid row bottom">
                      <div class="grid_item col-sm-12">
                        <span class="checkbox" for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}{{ form.set_as_default_checkbox }}</span>
                        <input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"> or 
                        <a class="text-link address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</a>
                      </div>
                    </div>
    
                  {% endform %}
                </div>
              </td>
              <td class="action">  
                <p>
                  <a class="address-edit-toggle" data-form-id="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</a>
                  <a class="address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">{{ 'customer.addresses.delete' | t }}</a>
                </p>
                <div id="EditAddress_{{ address.id }}" class="form-vertical edit-form hide">
                  {% form 'customer_address', address %}
                    <div class="grid row">
                      <div class="col-sm-12">
                        <h3>{{ 'customer.addresses.edit_address' | t }}</h3>
                      </div>
                    </div>
                    
                    <div class="grid row">
                      <div class="col-sm-12">
                        <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address' | t }}</label>
                        <input type="text" class="form-control" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}">
                        <input type="text" class="form-control" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}">
                      </div>
                    </div>

                    <div class="grid row">
                      <div class="grid__item col-sm-12">
                        <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                        <input type="text" class="form-control" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}">
                      </div>
                    </div>
                    <div class="grid row">
                      <div class="grid__item col-sm-6">
                        <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                        <input type="text" class="form-control" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                      </div>
                      <div id="AddressProvinceContainer_{{ form.id }}" class="grid_item col-sm-6" style="display:none">
                        <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                        <select id="AddressProvince_{{ form.id }}" class="form-control" name="address[province]" data-default="{{ form.province }}"></select>
                      </div>
                    </div>

                    <div class="grid row">    
                      <div class="grid__item col-sm-12">
                        <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                        <select id="AddressCountry_{{ form.id }}" class="address-country-option form-control" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
                      </div>
                    </div>
    
                    <div class="grid row bottom">
                      <div class="grid_item col-sm-12">
                        {{ form.set_as_default_checkbox }}
                        <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
                        <input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"> or 
                        <a class="text-link address-edit-toggle" data-form-id="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</a>
                      </div>
                    </div>
    
                  {% endform %}
                  <hr>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
        <div id="AddressNewForm" class="form-vertical hide">
          {% form 'customer_address', customer.new_address %}
            <div class="row">
              <div class="col-sm-12">
                <h3>{{ 'customer.addresses.add_new' | t }}</h3>
              </div>
            </div>
  
            <div class="grid row">
              <div class="grid__item col-sm-6">
                <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" class="form-control" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}">
              </div>
              <div class="grid__item col-sm-6">
                <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text" class="form-control" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}">
              </div>
            </div>

            <div class="grid row">
              <div class="grid__item col-sm-12">
                <label for="AddressPhoneNew">{{ 'customer.addresses.phone_account' | t }}</label>
                <input type="text" class="form-control" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}">
              </div>
            </div>

            <div class="grid row">
              <div class="grid__item col-sm-12">
                <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                <input type="text" class="form-control" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}">
              </div>
            </div>

            <div class="grid row">
              <div class="grid__item col-sm-12">
                <label for="AddressAddress1New">{{ 'customer.addresses.address' | t }}</label>
                <input type="text" class="form-control" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}">
                <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                <input type="text" class="form-control" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}">
              </div>
            </div>

            <div class="grid row">
              <div class="grid__item col-sm-12">
                <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                <input type="text" class="form-control" id="AddressCityNew" name="address[city]" value="{{ form.city }}">
              </div>
            </div>

            <div class="grid row">
              <div id="AddressProvinceContainerNew" class="col-sm-6 grid__item" style="display:none">
                <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                <select id="AddressProvinceNew" class="form-control" name="address[province]" data-default="{{ form.province }}"></select>
              </div>
              <div class="grid__item col-sm-6">
                <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                <input type="text" id="AddressZipNew" class="form-control" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
              </div>
            </div>
            
            <div class="grid row">
              <div class="grid__item col-sm-12">
                <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                <select id="AddressCountryNew" class="form-control" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
              </div>
            </div>
            <div class="grid row bottom">
              <div class="col-sm-12">
                
                <span class="checkbox" for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}{{ form.set_as_default_checkbox }}</span>
                <input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}"> 
                <a class="text-link address-new-toggle">{{ 'customer.addresses.cancel' | t }}</a>
              </div>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
