{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-d38ad2c3"></div>
{% if section.settings.feature_status %}
  <section class="article-heading">
    <div class="article-heading-wrapper">
      {% if  article.metafields["global"]["banner-image"] != blank %}
        <img src="{{ article.metafields["global"]["banner-image"] }}" class="feature_image">
      {% elsif section.settings.feature_banner_image != blank %}
        <img src="{{ section.settings.feature_banner_image | img_url: '2048x' }}" class="feature_image">
      {% endif %}
    </div>
  </section>
{% endif %}

<section class="article-content">
  <div class="article-wrapper">
    <div class="container">
      <div class="row">
        <div class="article-inner">
          {% paginate article.comments by 100 %}

            <div class="col-sm-12 article">
              <!-- Begin article -->
              <div class="heading">
                <h4 class="las_25">{{ article.title }}</h4>
                <p class="lass_17">{{ article.metafields["global"]["sub_title"] }}</p>
                <span>
                  {% unless article.metafields["global"]["author-status"] == 'hide:true' %}
                    {% if article.metafields["global"]["author-name"] != blank %}
                      {{ article.metafields["global"]["author-name"] }} | 
                    {% else %}
                      {{ article.author }} |     
                    {% endif %}
                  {% endunless %}
                  {% unless article.metafields["global"]["publisher-status"] == 'hide:true' %}
                    {% if article.metafields["global"]["publisher-name"] != blank %}
                      {{ article.metafields["global"]["publisher-name"] }} | 
                    {% endif %}
                  {% endunless %}
                  {% if article.metafields["global"]["date"] != blank %}
                    {{ article.metafields["global"]["date"] | time_tag: '%Y-%m-%d' }} 
                  {% else %}
                    {{ article.updated_at | time_tag: '%Y-%m-%d' }}
                  {% endif %}
                  </span>
              </div>

              <div class="content">
                {% assign content = article.content %}
                {% assign article_block = article.content | strip_html | split: 'featured_item(' %}
                {% for article_param in article_block %}

                  {% if forloop.index != 1 %}
                    {% assign product_block = article_param | split: ')' %}
                    {% for product_param in product_block %}
                        {% if forloop.index == 1 %}
                          {% assign remove_product_str = product_param | prepend: '(' | append: ')' %}
                          {% assign product_content = product_param | split: ' : ' %}
                          {% assign title = product_content[0] %}
                          {% assign product_str = product_content[1] %}
                          {% capture featured_product %}
                            <div class="featured-product row">
                              {% assign product_block = all_products[product_str] %}
                              <h3 class="title">{{ title }}</h3>
                              {% if product_block != blank %}
                                <div class="col-md-12">
                                  {% include 'article-product-item', product:product_block , title: title,  type: 'article_product_detail', quick_shop: true %}
                                </div>
                              {% endif %}
                            </div>
                          {% endcapture %}
                          {% assign content = content | remove: remove_product_str %}
                          {% assign content = content | replace_first: 'featured_item', featured_product%}
                        {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}

                {% assign article_block = article.content | split: 'featured_products(' %}
                {% for article_param in article_block %}
                 
                  {% if article_param contains ')' %}
                  
                    {% assign products_block = article_param | split: ')' | first %}
                    {% assign remove_products_str = products_block | prepend: '(' | append: ')' %}
                    {% assign products_content = products_block | split: ' : ' %}
                    {% assign title = products_content[0] %}
                    {% assign products_str_array = products_content[1] | strip_html | split: ',' %}
                    
                    {% capture featured_products %}
                      <div class="featured-products row">
                        <h3 class="text-center">{{ title }}</h3>
                        <div class="row content carousel">
                          {% for products_str in products_str_array %}
                            {% assign product_block = all_products[products_str] %}
                            {% if product_block != blank %}
                              <div class="col-xs-6 col-sm-6 col-md-4 carousel-cell">
                                {% include 'article-product-item', product:product_block  %}
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    {% endcapture %}
                    {% assign content = content | remove_first: remove_products_str %}
                    {% assign content = content | replace_first: 'featured_products', featured_products %}
                  {% endif %}
                {% endfor %}

                {% assign tags_str = '' %}
                {% for block in section.blocks %}
                  {% if block.settings.tag != blank %}
                    {% unless tags_str contains block.settings.tag %}
                        {% assign article_handle = block.settings.article_name | handleize %}
                        {% assign article_title = article.title | handleize %}
                      {% if article_handle == article_title %}
                        {% assign tags_str = tags_str | append: ',' | append: block.settings.tag %}
                      {% endif %}
                    {% endunless %}
                  {% endif %}
                {% endfor %}
                {% assign tags_str = tags_str | remove_first: ',' %}

                {% assign tags = tags_str | split: ',' %}
                {% for tag in tags %}
                {% capture featured_gallery %}
                  <div class="featured-gallery tag-{{tag}}" data-tag="{{tag}}">
                    <div class="carousel-main carousel">
                      {% for block in section.blocks %}
                        {% if block.settings.tag == tag %}
                          {% assign article_handle = block.settings.article_name | handleize %}
                          {% assign article_title = article.title | handleize %}

                          {% if article_handle == article_title %}
                            <div class="carousel-cell"><img src="{{ block.settings.image | img_url: '2048x' }}" /></div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>
                    <div class="carousel-nav carousel">
                      {% for block in section.blocks %}
                        {% if article_handle == article_title and block.settings.tag == tag %}
                          <div class="carousel-cell"><img src="{{ block.settings.image | img_url: '320x' }}" /></div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                {% endcapture %}
                {% assign content = content %}
                {% assign content = content | replace_first: "feature_gallery", featured_gallery%}
                {% endfor %}
                
                {% assign article_block = article.content | strip_html | split: 'featured_collection(' %}
                {% for article_param in article_block %}

                  {% if forloop.index != 1 %}
                    {% assign collection_block = article_param | split: ')' %}
                    {% for collection_param in collection_block %}
                        {% if forloop.index == 1 %}
                          {% assign remove_collection_str = collection_param | prepend: '(' | append: ')' %}
                          {% assign collection_content = collection_param | split: ' : ' %}
                          {% assign title = collection_content[0] %}
                          {% assign collection_str = collection_content[1] %}
                          {% capture feature_collection %}
                          <div class="content-featured-products row">

                            {% assign products = collections[collection_str].products %}
                            {% if products != blank %}
                              <h3 class="text-center">{{ title }}</h3>
                              <div class="carousel">
                                {% for product_item in products %}
                                  <div class="col-xs-6 col-sm-6 col-md-4 carousel-cell">
                                    {% include 'article-product-item', product:product_item  %}
                                  </div>
                                {% endfor %}
                              </div>
                              <!-- <a class="index_btn" href="{{collections[collection_str].url}}">Shop now</a> -->
                            {% endif %}

                          </div>
                        {% endcapture %}
                        {% assign content = content | remove: remove_collection_str  %}
                        {% assign content = content | replace_first: "featured_collection", feature_collection %}
                        {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}

                {% assign content = content | replace: '<iframe', '<div class="video"><iframe' | replace: '</iframe>', '</iframe></div>' %}
                {{ content }}
                  
              </div>
              <!-- End comments -->
            </div>
          {% endpaginate %}
          </div>
        </div>
      </div>
    </div>
</section>
{% if article.metafields["global"]["featured-blocks"] == 'recent:true' %}
  <section class="related-articles">
    <div class="container">
      <h3 class="sidebar-title text-center">{{ section.settings.blog_recent_title }}</h3>
      <div class="row related-article">
        {% assign article_num = section.settings.blog_recent_number | plus: 0 %}
        {% assign count = 0 %}
          {% for r_article in blog.articles %}
            {% if count < article_num %}
              {% if r_article.title != article.title %}
                {% assign count = count | plus: 1 %}
                <div class="col-xs-6 col-sm-6 col-md-4 article">
                  <img src="{{ r_article.image | img_url: 'original' }}" class="feature_image">
                  <div class="info">
                    <p class="title lass_17 uppercase">{{ r_article.title }}</p>
                    {{ r_article.metafields["global"]["sub_title"] | truncate: 150, "" }}
                    <a href="{{ r_article.url }}">{{ 'general.accessibility.read_more' | t }}</a>
                  </div>
                </div>
              {% endif %}
            {% else %}
              {% break %}
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Posts",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "feature_status",
      "label": "Feature banner status"
    },
    {
      "type": "image_picker",
      "id": "feature_banner_image",
      "label": "Feature banner image"
    },
  	{
        "type": "header",
        "content": "Blog Sidebar"
      },
      {
        "type": "checkbox",
        "id": "blog_recent_show",
        "label": "Display this widget?",
        "default": true
      },
      {
        "type": "text",
        "id": "blog_recent_title",
        "label": "Title",
        "default": "Recent articles"
      },
      {
        "type": "blog",
        "id": "blog_recent_blog",
        "label": "Use blog"
      },
      {
        "type": "text",
        "id": "blog_recent_number",
        "label": "Number of",
        "default": "3"
      },
      {
        "type": "paragraph",
        "content": "Sidebar Banner"
      },
      {
        "type": "checkbox",
        "id": "side_banner_show",
        "label": "Sidebar Banner",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "blog_sidebar",
        "label": "Upload image for sale banner",
        "info": "PNG format"
      },
      {
        "type": "image_picker",
        "id": "blog_sidebar2",
        "label": "Upload image for support banner",
        "info": "PNG format"
      }
  ],
  "blocks": [
    {
      "type": "image_gallery",
      "name": "Image gallery",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "article_name",
          "label": "Article name"
        },
        {
          "type": "text",
          "id": "tag",
          "label": "Gallery tag",
          "default": "1"
        }
      ]
    }
  ] 
}
{% endschema %}
