{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-d38ad2c3"></div>
{% if section.settings.feature_status %}
  <section class="article-heading">
    <div class="article-heading-wrapper">
      {% if  article.metafields["global"]["banner-image"] != blank %}
        <img src="{{ article.metafields["global"]["banner-image"] }}" class="feature_image">
      {% else %}
        <img src="{{ section.settings.feature_banner_image | img_url: '2048x' }}" class="feature_image">
      {% endif %}
    </div>
  </section>
{% endif %}

{% capture feature_collection %}
  <div class="content-featured-products row">
    {% for block in section.blocks %}
      {% if block.type == 'collection' %}
        <h3 class="text-center">{{ block.settings.title }}</h3>
        {% assign products = collections[block.settings.collection].products %}
        <div class="carousel">
          {% for product_item in products limit: 3 %}
            <div class="col-xs-6 col-sm-6 col-md-4 carousel-cell">
              {% include 'product-item', product:product_item  %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endcapture %}

<section class="article-content">
  <div class="article-wrapper">
    <div class="container">
      <div class="row">
        <div class="article-inner">
          {% paginate article.comments by 100 %}

            <div class="col-sm-12 article">
              <!-- Begin article -->
              <div class="heading">
                <h4 class="las_25">{{ article.title }}</h4>
                <p class="lass_17">{{ article.metafields["global"]["sub_title"] }}</p>
                <span>{{ article.author }} | {{ article.updated_at }}</span>
              </div>
              
              <div class="content">
                {% if article.content contains "feature_gallery" %}
                  {% assign feature_gallery = true %}
                  <div class="hide article">{{ article.content }}</div>
                  <div class="featured-gallery">
                    <div class="carousel-main carousel">
                    </div>
                    <div class="carousel-nav carousel">
                    </div>
                  </div>
                {% else %}
                  {% assign content = article.content | replace: "<p>featured_product</p>", feature_collection %}
                  {{ content }}
                  <a class="read_more">{{ 'blogs.article.read_more_article' | t }}</a>
                {% endif %}
              </div>
              <div class="featured-block">
                {% assign feature_block = article.metafields["global"]["featured-blocks"] | split: ',' %}
                {% for feature_block_meta_field in feature_block %}
                    {% if feature_block_meta_field == 'products:true' %}
                      {% assign feature_products = true %}
                    {% elsif feature_block_meta_field == 'product:true' %}
                      {% assign feature_product = true %}
                    {% endif %}
                {% endfor %}
                {% if feature_products %}
                  <div class="featured-products row">
                    <h3 class="text-center">{{ 'blogs.article.featured_product_title' | t }}</h3>
                    <div class="row content carousel">
                      {% for block in section.blocks %}
                        {% if block.type == 'products' %}
                          {% assign product_block = all_products[block.settings.product] %}
                          <div class="col-xs-6 col-sm-6 col-md-4 carousel-cell">
                            {% include 'product-item', product:product_block  %}
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}


                {% if feature_product %}
                  <div class="featured-product row">
                    
                    {% for block in section.blocks %}
                      {% if block.type == 'product' %}
                        <h3 class="title">{{ block.settings.title }}</h3>
                        {% assign product_block = all_products[block.settings.product] %}
                        <div class="col-md-12">
                          {% include 'product-item', product:product_block , type: 'article_product_detail', quick_shop: true %}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}

              </div>
              <!-- End comments -->
            </div>            
            {% endpaginate %}          
          </div>
        </div>
      </div>
    </div>
</section>
{% if section.settings.blog_recent_show and blog.articles_count > 1 %}
  <section class="related-articles">
    <div class="container">
      <h3 class="sidebar-title text-center">{{ section.settings.blog_recent_title }}</h3>
      <div class="row related-article">
          {% for r_article in blog.articles limit:section.settings.blog_recent_number %}
            {% if r_article.title != article.title%}
                <div class="col-xs-6 col-sm-6 col-md-4 article">
                  <img src="{{ r_article.image | img_url: 'original' }}" class="feature_image">
                  <div class="info">
                    <p class="title lass_17 uppercase">{{ article.title }}</p>
                    {{ article.metafields["global"]["sub_title"] | truncate: 150, "" }}
                    <a href="{{ article.url }}">{{ 'general.accessibility.read_more' | t }}</a>
                  </div>
                </div>
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% schema %}
{
  "name": "Posts",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "feature_status",
      "label": "Feature banner status"
    },
    {
      "type": "image_picker",
      "id": "feature_banner_image",
      "label": "Feature banner image"
    },
  	{
        "type": "header",
        "content": "Blog Sidebar"
      },
      {
        "type": "checkbox",
        "id": "blog_recent_show",
        "label": "Display this widget?",
        "default": true
      },
      {
        "type": "text",
        "id": "blog_recent_title",
        "label": "Title",
        "default": "Recent articles"
      },
      {
        "type": "blog",
        "id": "blog_recent_blog",
        "label": "Use blog"
      },
      {
        "type": "text",
        "id": "blog_recent_number",
        "label": "Number of",
        "default": "3"
      },
      {
        "type": "paragraph",
        "content": "Sidebar Banner"
      },
      {
        "type": "checkbox",
        "id": "side_banner_show",
        "label": "Sidebar Banner",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "blog_sidebar",
        "label": "Upload image for sale banner",
        "info": "PNG format"
      },
      {
        "type": "image_picker",
        "id": "blog_sidebar2",
        "label": "Upload image for support banner",
        "info": "PNG format"
      }
  ],
  "blocks": [
    {
      "type": "products",
      "name": "Featured products",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    },
    {
      "type": "product",
      "name": "Featured prouduct",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "product worn"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    },
    {
      "type": "collection",
      "name": "Featured collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Explore sentailer wrap coats"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
