{% include 'gravityadmin' %}



<div class="side-section container">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-2">
      <div class="content">
        <h1 class="title">{{ 'general.page.title' | t }}</h1>
        <ul class="nav nav-pills nav-stacked">
          {% for block in section.blocks %}
            {% assign page_item = pages[block.settings.page] %}
            <li class="{% if page.handle == block.settings.page %}active{% endif %}"><a href="{{ page_item.url }}">{{ block.settings.title }}</a></li>
          {% endfor %}
        </ul>
        <select class="page-links">
          {% for block in section.blocks %}
            {% assign page_item = pages[block.settings.page] %}
            <option value="page_item.url" {% if page.handle == block.settings.page %}selected{% endif %}>{{ block.settings.title }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    
    <div class="tab-content col-sm-12 col-md-9 col-lg-8">
      <div class="content row">
        {% if section.settings.contact_map and section.settings.contact_address != '' %}
          <div class="google-maps-wrapper">
            <div class="google-maps-inner">
              <div id="contact_map" class="map" style="height:500px;"></div>
              <script>
                $('.map')
                  .gmap3({
                    address:"{{ section.settings.contact_address }}",
                    zoom:{{ section.settings.contact_zoom}}
                  })
                  .marker([
                    {address:"{{ section.settings.contact_address }}"},
                    {address:"{{ section.settings.contact_address }}"}
                  ])
              </script>
            </div>
          </div>
        {% endif %}
        <div class="page-with-contact-form">
          <div class="contact-page-content">
            <div class="page-input">
              <ul class="contact-action">
                <li>
                  <h3>{{ 'pagefly.comments.email' | t }}</h3>
                  <p><span class="sticon-email"></span>{{ section.settings.email }}</p>
                </li>

                <li>
                  <h3>{{ 'customer.addresses.phone' | t }}</h3>
                  <p class="phone"><span class="sticon-phone"></span>{{ section.settings.phone }}</p>
                </li>

                <li>
                  <h3>{{ 'customer.addresses.chat' | t }}</h3>
                  <a onclick="Smooch.open();" class="btn chat-btn black chat-btn">{{ 'customer.addresses.chat_btn' | t }}</a>  
                </li>
                </ul>
            </div>
            <div class="page-form chat-form">
              <div class="form-pannel">
                <h4>{{ section.settings.contact_title }}</h4>
                {% form 'contact' %}
                  {% if form.posted_successfully? %}
                    <div class="successForm feedback">
                      <p>{{ 'contact.form.post_success' | t }}</p>
                    </div>
                  {% endif %}
  
                  {% if form.errors %}
                    <div class="errorForm feedback">
                      <p>{{ 'contact.form.post_error' | t }}</p>
                      {% for field in form.errors %}
                        <p>{{ 'contact.form.post_field_error_html' | t: field: field, error: form.errors.messages[field] }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
  
                  <div id="contactFormWrapper" class="row">
                    <div class="col-sm-6">
                      <input class="form-control" type="text" id="contactFormName" name="contact[name]" placeholder="{{ 'contact.placeholder.name' | t }}"  required/>
                    </div>
                    <div class="col-sm-6">
                      <input class="form-control" type="text" id="contactFormEmail" name="contact[surame]" placeholder="{{ 'contact.placeholder.surame' | t }}" required/>
                    </div>
                    <div class="col-sm-6">
                      <input type="email" class="form-control numbersonly" id="contactFormTelephone" name="contact[email]" placeholder="{{ 'contact.placeholder.email' | t }}" required/>
                    </div> 
                    <div class="col-sm-6">
                      <select class="form-control">
                        <option>Select a topic</option>
                        <option>Select a topic</option>
                        <option>Select a topic</option>
                        <option>Select a topic</option>
                      </select>
                    </div>
                    <div class="col-sm-12">
                      <textarea rows="5" cols="75" class="form-control textarea" id="contactFormMessage" name="contact[body]" placeholder="{{ 'contact.placeholder.message' | t }}" required></textarea>
                    </div>
                    <div class="col-sm-6">
                      <span class="checkbox">{{ 'contact.form.privacy_policy' | t }}<input type="checkbox" name="contact[privacy]" class="hide"></span>
                    </div>
                    <div class="col-sm-6">
                      <input type="submit" id="contactFormSubmit" value="{{ 'contact.form.send' | t }}" class="btn cont_btn" />
                    </div>
                  </div>
                {% endform %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact Setting",
    "settings": [
		  {
        "type": "header",
        "content": "Contact form"
      },
      {
        "type": "text",
        "id": "contact_title",
        "label": "Form Title",
        "default": "Live a Message"
      },
      {
        "type": "header",
        "content": "Google Map Area"
      },
      {
        "type": "checkbox",
        "id": "contact_map",
        "label": "Show contact map",
        "default": true
      },
      {
        "type": "select",
        "id": "contact_type",
        "label": "Map type",
        "options": [
          {
            "value": "ROADMAP",
            "label": "Normal map"
          },
          {
            "value": "SATELLITE",
            "label": "Satellite"
          },
          {
            "value": "HYBRID",
            "label": "Hybrid"
          },
          {
            "value": "TERRAIN",
            "label": "Terrain"
          }
        ]
      },
      {
        "type": "select",
        "id": "contact_zoom",
        "label": "Zoom level",
        "options": [
          {
            "value": "0",
            "label": "0"
          },
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "9",
            "label": "9"
          },
          {
            "value": "10",
            "label": "10"
          },
          {
            "value": "11",
            "label": "11"
          },
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "13",
            "label": "13"
          },
          {
            "value": "14",
            "label": "14"
          },
          {
            "value": "15",
            "label": "15"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "17",
            "label": "17"
          },
          {
            "value": "18",
            "label": "18"
          },
          {
            "value": "19",
            "label": "19"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "21",
            "label": "21"
          }
        ]
      },
      {
        "type": "text",
        "id": "contact_address",
        "label": "Map address"
      },
      {
        "type": "checkbox",
        "id": "contact_scroll",
        "label": "Scroll wheel",
        "default": true
      },
      {
        "type": "text",
        "id": "email",
        "label": "Email description",
        "default": "Send your request service@sentaler.com"
      },
      {
        "type": "text",
        "id": "phone",
        "label": "Phone",
        "default": "Mon-Sat, 9AM-5PM EST call/Text+1888 476 8790"
      }
  ],
  "blocks": [
    {
      "type": "page_link",
      "name": "Page link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Page"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
