{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-7d10c83d"></div>
<section class="sentaler-x-section">
  <div class="home_banner">
    <div class="banner_div b_{{section.id}} main align_{{section.settings.alignment}} set_{{section.settings.width}}" >
    </div>
  </div>
  <div class="banner_content" id="banner_{{ section.id }}">
    <div class="banner_text text-{{section.settings.alignment}}" >
      <div class="banner_inner_wrap">
      {% if section.settings.heading %}
      <h1>{{section.settings.heading}}</h1>
      {% endif %}
      <h4>{{ page.title }}</h4>
      {% if section.settings.content %}
      <p>{{section.settings.content}}</p>
      {% endif %}
      {% if section.settings.btn_link %}
        <div><a class="index_btn" href="{{section.settings.btn_link}}">{{section.settings.btn_text}}</a></div>
      {% endif %}
      </div>
    </div>
  </div>
  <div class="video_wrapper">
    <div class="">
      <iframe id="col_v1" src="https://player.vimeo.com/video/{{ section.settings.video_id }}?color=d4d4d4&background=1&autoplay=1" width="100%" height="100%" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
  <style>
    .sentaler-x-section {background: {{ section.settings.background }};}
    #banner_{{ section.id }} h1, #banner_{{ section.id }} h4{color:{{section.settings.heading_color}} }
    #banner_{{ section.id }} p{color:{{section.settings.text_color}} }
    .b_{{section.id}}{ background-image:url({{section.settings.image | img_url:"2048x"}})}
    @media only screen
    and (max-width:767px) {
     .b_{{section.id}}{ background-image:url({{section.settings.imagem | img_url:"1024x"}}) }
    }
  </style>
</section>
{% schema %}
  {
    "name": "Image with text",
    "settings": [
		{
			"type":"image_picker",
			"id":"image",
			"label":"Image"
		},
		{
			"type":"image_picker",
			"id":"imagem",
			"label":"Mobile Image"
		},
    {
      "type": "text",
      "id": "video_id",
      "label": "Vimeo Video ID"
    },
		{
			"type":"color",
			"id":"heading_color",
			"label":"Heading Color",
			"default":"#000"
		},
		{
			"type":"color",
			"id":"text_color",
			"label":"Text Color",
			"default":"#000"
		},
		{
			"type":"color",
			"id":"background",
			"label":"Background Color",
			"default":"#000"
		},
		{
          "type": "select",
          "id": "width",
          "label": "width",
          "default": "full",
          "options": [
            {
              "value": "half",
              "label": "50%"
            },
            {
              "value": "full",
              "label": "100%"
            }
          ]
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Text Alignement",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "left"
            },
            {
              "value": "center",
              "label": "center"
            },
            {
              "value": "right",
              "label": "right"
            }
          ]
        },
		{
			"type":"text",
			"id":"heading",
			"label":"Heading"
		},
		{
			"type":"textarea",
			"id":"content",
			"label":"Content"
		},
		{
			"type":"text",
			"id":"btn_text",
			"label":"Button"
		},
		{
			"type":"url",
			"id":"btn_link",
			"label":"Link"
		}
		],
  "presets": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
