{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-033452e9"></div>
{% include 'sca_freegift_price' with product %}
<div class="product-template__container page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">
 {% assign variant = product.selected_or_first_available_variant %}
 {% assign curent_variant = product.selected_or_first_available_variant %}
 <section class="product-detail-content">
    <div class="detail-content-wrapper">
      <div class="container c_pad0">
        <div class="row">
          <div class="detail-content-inner">
            <div id="product" class="{{ product.handle }} detail-content">
              <div class="col-md-12 clearfix info-detail-pro">
                <div class="col-md-6" id="product-image">

                  <div id="featuted-image" class="image featured mainprd owl-carousel owl-theme">

                    {% for media in product.media %}
                      
                      {% case media.media_type %}
                        {% when 'image' %}
                          <div class="prd_img_wrap  ">
                            <div class="easyzoom easyzoom--overlay clickzoom">
                              <a  data-fancybox="gallery" href="{{ media | product_img_url: '2400X' }}"><img class="normal" src="{{ media | product_img_url: '2400X' }}" alt="{{ media.alt | escape }}" /></a>
                            </div>
                          </div>
                        {% when 'external_video' %}
                          <div class="product-single__media">
                            {{ media | external_video_tag : class: "youtube_video" }}
                          </div>
                        {% when 'video' %}
                          <div class="product-single__video">
                            {{ media | video_tag: autoplay: true,  loop: true }}
                          </div>
                        {% else %}
                          <div class="product-single__media">
                            {{ media | media_tag }}
                          </div>
                      {% endcase %}
                    
                    {% endfor %}
                  </div>
				            <script>
                       $.fn.isInViewport = function() {
                        var elementTop = $(this).offset().top;
                        var elementBottom = elementTop + $(this).outerHeight();

                        var viewportTop = $(window).scrollTop();
                        var viewportBottom = viewportTop + $(window).height();

                        return elementBottom > viewportTop && elementTop < viewportBottom;
                      };
                    if($(".mainprd").length){
                     $(".mainprd").owlCarousel({
                        nav : true,
                        pagination: false,
                        items: 1,
                        singleItem:true,
                        slideSpeed : 200,
                        video: true,
                        loop: true,
                        navText: ['<i class="sticon-caret-l-large" title="Previous" data-toggle="tooltip" data-placement="top"></i>', '<i class="sticon-caret-r-large" title="Next" data-toggle="tooltip" data-placement="top"></i>']
                      });
                      $.fn.isInViewport = function() {
                          var elementTop = $(this).offset().top;
                          var elementBottom = elementTop + $(this).outerHeight();

                          var viewportTop = $(window).scrollTop();
                          var viewportBottom = viewportTop + $(window).height();

                          return elementBottom > viewportTop && elementTop < viewportBottom;
                        };
                      $('.owl-next,.owl-prev').click(function(){
                        if (($('#prd_video').length > 0) && ($('#prd_video').isInViewport())) {
                                $('#prd_video').vimeo("play");
                                $('#prd_video').addClass('added');
                              }
                        else
                        {
                           $('#prd_video').vimeo("pause");
                          $('#prd_video').addClass('removed');
                        }
                      });

                    }

                  </script>
                </div>
                <div class="col-md-6 text-center" id="product-information">
                  <div class="product-innerwrap">
                   {% for tag in product.tags %}
                     {% if tag contains 'IN SUPPORT OF SICKKIDS'  %}
                       <img class="s_sick_logo" src="{{'image.jpg' | asset_url}}"/>
                     {% endif %}
                  {% endfor %}
                  <div class="product-title">
                    <div style="position:relative;"><h1 class="title"> {{ product.title | split: ',' | first }} </h1><span id="secomapp-fg-image-{{  product.id }}" style="display: none;"> {{ "icon-freegift.png" | asset_url | img_tag: "Free Gift", "sca-fg-img-label" }} </span> </div>
                    {% if section.settings.display_wishlist %}
                    <div class="add-to-wishlist">
                      <div class="wishlist hidden-xs">
                        <a title="Add To Wishlist" class="wishlist wishlist-{{ product.handle }}" data-wishlisthandle="{{ product.handle }}"><i class="sticon-heart" aria-hidden="true"></i> </a>
                      </div>
                    </div>
                    {% endif %}
                  </div>
                 	{% assign arrow = false %}
                    {% for prd_collection in product.collections %}
        				{% if prd_collection.handle contains 'accessories' %}{% assign arrow = true %}{% endif %}
                    {% endfor %}
                    <div class="prd_ctext c_pop" rel="fiber">

                   {% for option in product.options %}
                      {% assign option_in = forloop.index0 %}


                      {% if option == 'Material' or  option == 'material' %}
                        {% for variant in product.variants %}
                        {% unless variant.metafields.secomapp.freegifts %}
                        {% unless variant.title contains '(Freegifts)' %}

                       {% assign value = variant.options[option_in] %}
                          {% unless values contains value %}
                      {% if forloop.index == 1 %}
                      <span> {{value}}</span>{% if arrow %}{% else %}{% include 'info' %}{% endif %}
                      {% endif %}
                        {% endunless %}

                        {%endunless%}
                        {%endunless%}
                        {% endfor %}
                      {% endif %}

                   {% endfor %}

                    </div>
                 <div class="purchase">
                        <p class="price" id="price-preview" data-product-id="{{ product.id }}" data-variant-id="{{ product.selected_or_first_available_variant.id }}">
                          {{ variant.price | money }}
                          {% if variant.price < variant.compare_at_price %} 
                            <span data-product-id="{{ product.id }}" data-variant-id="{{ product.selected_or_first_available_variant.id }}:compare">
                              <del>{{ variant.compare_at_price | money }}</del>
                            </span>
                          {% endif %}
                        </p>
                 </div>
               	  {%-  assign prd_des_sh = product.description | strip_html | remove: "DESIGNER'S NOTES"   | split: '[split]'   -%}
		          {% if section.settings.enable_quickoverview  %}
                  <div class="description">
                    {% if product.description contains '[split]' %}
                  {%- assign prd_s1 = prd_des_sh[1] | truncatewords: section.settings.detail_qov_lenght, "" -%}
                  <span class="short">{{prd_s1 | replace: "&nbsp;", ''  }}</span>

                    <span class="more">More</span>
                     <span class="long">{{prd_des_sh[1]  }}</span>
                    {% else %}
                    <span>{{product.description}}</span>
                    {% endif %}
                  </div>
                  {% endif %}

                  {% if sca_product_variantCount == 1 and product.variants.first.title contains 'Default' %}
                    {% assign hide_default_title = true %}
                  {% endif %}

                  <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix" data-ptype="{{ product.type | downcase }}">
                    {% if product.description contains '[split]' %}
                    <div class="color-option">
                     {%-  assign prd_des_cp =  product.description | split: '[split]'   -%}
                      <span class="c_l">color: <span class="current_seleted"></span></span>
                      {{prd_des_cp[0]}}
                    </div>
                    {% endif %}
                    <div class="product-options {% if hide_default_title %}no-options {% endif %}">
                      {% assign shipDefaultMessage = '' %}
                      {%- for tag in product.tags -%}
                        {% if tag contains 'ship_default' %}
                        {% assign shipDefaultMessage = tag | strip | remove: 'ship_default_' %}
                        {% endif %}
                      {% endfor %}
                      {%- capture my_variable -%}
                      {%- for tag in product.tags -%}
                        {%- if tag contains 'size' -%}{{-tag | append:','-}}{%- else -%}{%- continue -%}{%- endif -%}
                        {%- endfor -%}{%- endcapture -%}
                     {%- assign ship_msg = my_variable | strip | remove: 'size_' -%}
                      {% if section.settings.color_swatch %}
                          {% for option in product.options %}
                            {% include 'swatch' with option %}
                          {% endfor %}
                      {% endif %}

                      <div class="select clearfix"{% if hide_default_title or section.settings.color_swatch %} style="display:none"{% endif %}>
                        <select id="product-select" name="id">
                          {% for variant in product.variants %}
                          {% unless variant.metafields.secomapp.freegifts %}
                          {% unless variant.title contains '(Freegifts)' %}
                          <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
                          {%endunless%}
                          {%endunless%}
                          {% endfor %}
                        </select>
                      </div>



                      {% if section.settings.display_quantity_dropdown %}
                      <div class="quantity-wrapper clearfix">
                        <label class="wrapper-title">Qty</label>
                        <div class="wrapper">
                          <span class="qty-down btooltip" data-toggle="tooltip" data-placement="top" title="Decrease" data-src="#quantity">
                            <i class="fa fa-minus"></i>
                          </span>
                          <input id="quantity" type="text" name="quantity" value="1" maxlength="5" size="5" class="item-quantity" />
                          <span class="qty-up btooltip" data-toggle="tooltip" data-placement="top" title="Increase" data-src="#quantity">
                            <i class="fa fa-plus"></i>
                          </span>
                        </div>
                      </div>
                      {% endif %}

                      {% assign preorder = false %}
                     {% for tag in product.tags %}
                         {% if tag contains 'pre-order'  %}
                           {% assign preorder = true %}
                         {% endif %}
                      {% endfor %}



                      <div class="purchase-section{% if sca_product_variantCount > 1 %} multiple{% endif %}">
                        <div class="purchase">
                          {% if  product.available  %}
                         	{% if variant.inventory_quantity >= 1 %}
                          <button id="add-to-cart" class="btn add-to-cart customcart" type="submit" name="add">{{"products.product.add_to_cart"|t}}</button>
                          <div id="cart-animation" style="display:none">1</div>
                          <button style="display:none" id="add-to-cart" class="btn add-to-cart preordercart" type="submit" name="add">{{'Pre-order' | json | remove: '"'}}</button>
                          {% else %}
                         	 <button id="add-to-cart" class="btn add-to-cart customcart" type="submit" name="add" style="display:none">{{"products.product.add_to_cart"|t}}</button>
                           <button id="add-to-cart" class="btn add-to-cart preordercart" type="submit" name="add">{{'Pre-order' | json | remove: '"'}}</button>

                          {% endif %}
                          {% else %}
                          <span class="btn">{{ 'products.product.sold_out_html' | t }}</span>
                          {% endif %}
                            <div class="item-ship prdrow" style="display:none">
                        <input  type="text" id="ship_date_property" name="properties[ship_date]" value="" style="display:none;"/>
                          <span class="shipdateprd"></span>
                    	</div>
                        </div>



                      </div>
                    </div>

                  </form>
                  <span class="sca-fg-cat-list" style="display: none;" id="secomapp-fg-data-{{ product.id }}"> </span>


				  <div class="prd_ship prdrow">
                    <span><i class="sticon-shipping"></i>Free Duties and Expedited Shipping</span>
                    <span><i class="sticon-returns"></i>Free Returns and Exchanges</span>
                  </div>
                  <div class="srf prdrow">
                    <a href="#" class="c_pop" rel="shipping">Shipping</a>
                    <a href="#"  class="c_pop" rel="return">Returns/Exchanges</a>
                    <a href="#"  class="c_pop" rel="sizechart">Find My Size</a>
                  </div>
                    <div class="eps">
                      <a href="mailto:"><i class="sticon-email"></i>Email us</a>
                      <a href="tel:+18882593374"><i class="sticon-phone"></i>+1 888 259 3374</a>
                      <span class="share"><i class="sticon-share"></i>Share</span>
                      <div class="social-prd-share" style="display:none;">
                        {% include 'social-sharing' %}
                      </div>
                    </div>



                  </div>
                </div>
              </div>
               {% if product.description contains '[split]' %}
              <div class="product_deatil_metainfo">
                <div class="customhalf text">
                 <div class="accordion-section desk_hide">
                  <a href="#accordion-4" class="accordion-section-title active"><span class="Apple-style-span" style="color: #272727; font-size: medium;">DESIGNER’S NOTES</span></a>
                  <div id="accordion-4" class="accordion-section-content js-focus-hidden active" tabindex="-1" >
                  {{prd_des_sh[1]  }}
                  </div>
                  <!--end .accordion-section-content-->
                  </div>
                {{ product.description |  split: '[split]' | last }}
                </div>
                <div class="customhalf img">
                  <a data-fancybox="gallery" href="{{ product.images[1] | product_img_url: 'master' }}">
                    <img class="normal" src="{{ product.images[1] | product_img_url: 'master' }}"/>
                  </a>
                </div>
                {% assign imagesize = product.images.size | minus: 1 %}
                <div class="flex_row_prd {% if imagesize == 3 or imagesize == 7 %}last-imgfull{% endif %} {% if imagesize == 6 %}last-two{% endif%}" >
                  {% for image in product.images %}
                  {% if forloop.index > 1 %}
                  {% if image.alt contains 'vimeo' %}
                       {% assign video_id = image.alt | remove: "https://vimeo.com/" %}
				       <div class="product_video_Wrap">
                         <iframe id="prd_video2" src="https://player.vimeo.com/video/{{video_id}}?color=d4d4d4&title=0&byline=0&portrait=0&background=1"  frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                       </div>
                       {% else %}
                        <a data-fancybox="gallery" href="{{ image | product_img_url: 'master' }}">
                         <img src="{{ image | product_img_url: 'master' }}" alt="{{ image.alt | escape }}" />
                        </a>
                       {% endif %}

                  {% endif %}
                  {% endfor %}

                </div>
                <div class="clearfix"></div>
              </div>
              {% endif %}
              {% for tag in product.tags %}
                     {% if tag contains 'IN SUPPORT OF SICKKIDS' %}
              <div class="stickkid_deatilsection">
              	<!--<div class="index_quote ">
                    <div class="quote_inner aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                      <i class="sticon-quote" aria-hidden="true"></i>
                      <p>{{section.settings.quote}}</p>
                      <span class="sticon-bojana"></span>
                    </div>
			   </div>-->
               <div class="index_custom_section">
                    <div class="flex_wrap">
					                 <div class="customhalf imgdiv left">
                             {% if section.settings.images1 %}
						                  <img src="{{section.settings.images1 | img_url: "master"}}">
                              {% endif %}
					                 </div>
					  <div class="customhalf left">
                            <div class="text--block text-center">
                              <div class="las_25">
                                <div class="text-left">
                                  <div class="img_b">
                                      <img src="{{ section.settings.signature_1 | img_url: 'master' }}"/>
                                  </div>
                                  <div class="quote_a">
                                  {{section.settings.quote}}
                                  </div>
                                </div>
                                 <i class="sticon-quote" aria-hidden="true"></i>
                                 <div class="quote_b">
                                  {{section.settings.quote2}}
                                </div>
                              </div>
                              <div class="img_a">
                                  <img src="{{ section.settings.signature_2 | img_url: 'master' }}"/>
                              </div>
                              <div class="bt_text">{{section.settings.s_Des}}</div>
                           </div>
                       </div>
					                </div>
        </div>
               <!--<div class="index_custom_section">
  				 <div class="flex_wrap">
  				   <div class="customhalf imgdiv">
						<img src="//cdn.shopify.com/s/files/1/1009/5898/files/superfine-alpaca_1024x1024.png?v=1565420359">
				   </div>
      			 <div class="customhalf">
                  <div class="text--block">
					<h4 class="las_25">{{section.settings.sheading}}</h4>
					<div class="lass_17"><p>{{section.settings.scontent}}</p></div>
				 	<div class="image_block">
							<div class="img_col">
								<span class="icon {{section.settings.icon1}}"></span>
								<span>{{section.settings.text1}}</span>
							</div>
							<div class="img_col">
								<span class="icon {{section.settings.icon2}}"></span>
								<span>{{section.settings.text2}}</span>
							</div>
                      	    <div class="img_col">
								<span class="icon {{section.settings.icon3}}"></span>
								<span>{{section.settings.text3}}</span>
							</div>
                    </div>
                    {% if section.settings.sbtn_link %}
				  	<a class="index_btn" href="{{section.settings.sbtn_link}}">{{section.settings.sbtn_text}}</a>
                   {% endif %}
				 </div>

                </div>
              </div>
			</div>-->
			</div>
              {% endif %}
              {% endfor %}
              {% if section.settings.show_related_products %}
                {% include 'related-products' %}
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div style="display:none" id="preloading">
  {% for image in product.images offset: 1 %}
  {{ image | product_img_url: '1024x1024' | img_tag }}
  {% endfor %}
  </div>
<div data-app="eastsideco_cartOffers" data-position="product"></div>

  <script>

  var selectCallback = function(variant, selector) {
    if (variant) {
      $('#sizechart').find('span.sku').html(variant.sku);
    }
    if (variant && variant.featured_image) {
      var newImage = variant.featured_image; // New image object.
      var mainImageDomEl = jQuery('.featured img')[0]; // DOM element of main image we need to swap.
      Shopify.Image.switchImage(newImage, mainImageDomEl, switchImage); // Define switchImage (the callback) in your theme's JavaScript file.
    }
    if (variant && variant.available) {

      var elm = $('.swatch-element[data-id="'+variant.id+'"]');
      $('.item-ship').show();
      if ($(elm).data('shipmessage')) {
        $('.shipdateprd').html($(elm).data('shipmessage'));
        $('#ship_date_property').val($(elm).data('shipmessage'));
        $('.preordercart').show();
        $('.customcart').hide();
      } else {
        $('.shipdateprd').html("Size "+ $(elm).data('value') +" will ship immediately");
        $('#ship_date_property').val("Size "+ $(elm).data('value') +" will ship immediately");
        $('.preordercart').hide();
        $('.customcart').show();
      }

      jQuery('#add-to-cart').removeAttr('disabled').removeClass('disabled'); // remove unavailable class from add-to-cart button, and re-enable button
      if(variant.price < variant.compare_at_price){
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, money_format_update) + " <del>" + Shopify.formatMoney(variant.compare_at_price, money_format_update) + "</del>");

      } else {
        jQuery('#price-preview').html(Shopify.formatMoney(variant.price, money_format_update));

      }
    }

    else {
      jQuery('#add-to-cart').addClass('disabled').attr('disabled', 'disabled'); // set add-to-cart button to unavailable class and disable button

    }
  };

  jQuery(document).ready(function($){
    "undefined"==typeof freegifts_product_json&&(window.freegifts_product_json=function(e){if(e){for(var i=0;i<e.options.length;i++)if(option=e.options[i],option.values)for(var r=0;r<option.values.length;r++)(option.values[r].endsWith("(Freegifts)")||option.values[r].endsWith("% off)"))&&(option.values.splice(r,1),r--);for(var a=function(e){for(var i in e)if(e.hasOwnProperty(i))return!1;return!0},p=e.price,t=e.price_max,o=e.price_min,n=e.compare_at_price,_=e.compare_at_price_max,c=e.compare_at_price_min,i=0;i<e.variants.length;i++){var r=e.variants[i],s=r.option3?r.option3:r.option2?r.option2:r.option1;"undefined"!=typeof SECOMAPP&&"undefined"!=typeof SECOMAPP.gifts_list_avai&&!a(SECOMAPP.gifts_list_avai)&&"undefined"!=typeof SECOMAPP.gifts_list_avai[r.id]||s.endsWith("(Freegifts)")||s.endsWith("% off)")?(e.variants.splice(i,1),i-=1):(t>=r.price&&(t=r.price,p=r.price),o<=r.price&&(o=r.price),r.compare_at_price&&(_>=r.compare_at_price&&(_=r.compare_at_price,n=r.compare_at_price),c<=r.compare_at_price&&(c=r.compare_at_price)),1==r.available&&(e.available=!0))}e.price=p,e.price_max=o,e.price_min=t,e.compare_at_price=n,e.compare_at_price_max=c,e.compare_at_price_min=_,e.price_varies=o>t?!0:!1,e.compare_at_price_varies=c>_?!0:!1}return e});
    var sca_product_info = freegifts_product_json ( {{ product | json }} );
    new Shopify.OptionSelectors("product-select", { product: sca_product_info, onVariantSelected: selectCallback, enableHistoryState: true });

    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first | escape }}</label>');
    {% endif %}

  });
    $(window).scroll(function() {
      if ($('#prd_video').length > 0) {
        if ($('#prd_video').isInViewport()) { $('#prd_video').vimeo("play");}
        else{ $('#prd_video').vimeo("pause");   }
        if ($('#prd_video2').isInViewport()) { $('#prd_video2').vimeo("play");}
        else{ $('#prd_video2').vimeo("pause");   }
      }
     });
  </script>
</div>
{% include 'popup' %}
{% schema %}
{
  "name": "Product pages",
  "settings": [
  {
        "type": "header",
        "content": "General Setting"
      },

      {
        "type": "checkbox",
        "id": "color_swatch",
        "label": "Enable Color Swatch?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_hover_effect",
        "label": "Active hover effect to change product image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_coloravailable",
        "label": "Active Color Available Image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_quickoverview",
        "label": "Enable Quick Overview"
      },
      {
        "type": "text",
        "id": "detail_qov_lenght",
        "label": "Quick Overview lenght",
        "default": "30"
      },
      {
        "type": "checkbox",
        "id": "display_quantity_dropdown",
        "label": "Show quantity box"
      },
      {
        "type": "checkbox",
        "id": "display_wishlist",
        "label": "Show Wish list",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "display_tags",
        "label": "Show Tags",
        "default": true
      },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "full",
          "label": "Full-width"
        }
      ],
      "default": "medium"
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": "Show quantity selector",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_variant_labels",
      "label": "Show variant labels",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
	{
        "type": "header",
        "content": "Ajax Add to cart Modal"
      },
      {
        "type": "checkbox",
        "id": "ajax_active",
        "label": "Active Ajax Add to Cart",
        "default": true
      },
      {
        "type": "text",
        "id": "ajax_timeout",
        "label": "Set time out, auto close",
        "default": "5000",
        "info": "(seconds)"
      },

      {
        "type": "header",
        "content": "Related Products Setting"
      },
      {
        "type": "checkbox",
        "id": "show_related_products",
        "label": "Show related products",
        "default": true,
        "info": "Only visible within a collection"
      },
      {
        "type": "header",
        "content": "Social media sharing"
      },
      {
        "type": "checkbox",
        "id": "social_sharing_products",
        "label": "Enable product sharing"
      },
      {
        "type": "checkbox",
        "id": "social_sharing_count",
        "label": "Show shared count",
        "info": "Only available for Facebook, Twitter, and Pinterest"
      },
      {
        "type": "select",
        "id": "social_sharing_style",
        "label": "Button style",
        "options": [
          {
            "value": "",
            "label": "Normal"
          },
          {
            "value": "is-large",
            "label": "Large"
          },
          {
            "value": "is-clean",
            "label": "Clean"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "share_facebook",
        "label": "Share on Facebook"
      },
      {
        "type": "checkbox",
        "id": "share_twitter",
        "label": "Tweet on Twitter"
      },
      {
        "type": "checkbox",
        "id": "share_pinterest",
        "label": "Pin on Pinterest"
      },
      {
        "type": "checkbox",
        "id": "share_fancy",
        "label": "Add to Fancy"
      },
      {
        "type": "checkbox",
        "id": "share_google",
        "label": "+1 on Google Plus"
      },
	  {
		"type":"header",
		"content":"Stickid's Info"
	  },
	  {
			"type":"richtext",
			"id":"quote",
			"label":"Quote"
	  },
	  {
			"type":"image_picker",
			"id":"images1",
			"label":"Image"
	  },
    {
			"type":"image_picker",
			"id":"signature_1",
			"label":"Signature 1"
	  },
    {
			"type":"image_picker",
			"id":"signature_2",
			"label":"Signature 2"
	  },
	  {
			"type":"richtext",
			"id":"quote2",
			"label":"Quote"
	  },
	  {
			"type":"textarea",
			"id":"s_Des",
			"label":"description"
	  },
	  {
			"type":"image_picker",
			"id":"images2",
			"label":"Image"
	  },
	  {
			"type":"text",
			"id":"sheading",
			"label":"Heading"
	  },
	  {
			"type":"textarea",
			"id":"scontent",
			"label":"Content"
	  },
	  {
			"type":"text",
			"id":"sbtn_text",
			"label":"Button text"
	  },
	  {
			"type":"url",
			"id":"sbtn_link",
			"label":"Button link"
	  },
	  {
          "type": "text",
          "id": "icon1",
          "label": "Icon1"
      },
      {
          "type": "text",
          "id": "text1",
          "label": "Heading1"
      },
	  {
          "type": "text",
          "id": "icon2",
          "label": "Icon2"
      },
      {
          "type": "text",
          "id": "text2",
          "label": "Heading2"
      },
	  {
          "type": "text",
          "id": "icon3",
          "label": "Icon3"
      },
      {
          "type": "text",
          "id": "text3",
          "label": "Heading3"
      },
      {
          "type": "page",
          "id": "sizechart_page",
          "label": "Size Chart"
      }
  ]
}
{% endschema %}
