<section class="register-content">
    <div class="register-wrapper wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="register-inner">
              <div id="customer-register" class="content">
                <h3 class="las-17">{{ 'customer.register.title' | t }}</h3>
                <div class="tab_links">
                  <a href="/account/login">{{ 'customer.login.sign_in' | t }}</a>
                  <a class="active" href="/account/register">{{ 'customer.login.sign_up' | t }}</a>
                </div>
                <div id="register" class="span12">      
                    <p class="note">{{ 'customer.register.login_msg' | t }}</p>        
                    {% form 'create_customer' %}
    
                      {{ form.errors | default_errors }}
    
                      <div id="first_name" class="clearfix large_form">
                        <input type="text" value="" name="customer[first_name]" placeholder="{{ 'customer.register.first_name' | t }}" id="first_name" class="text" size="30" />
                      </div>
    
                      <div id="last_name" class="clearfix large_form">
                        <input type="text" value="" name="customer[last_name]" placeholder="{{ 'customer.register.last_name' | t }}" id="last_name" class="text" size="30" />
                      </div>
    
                      <div id="email" class="clearfix large_form">
                        <input type="email" value="" name="customer[email]" placeholder="{{ 'customer.register.email' | t }}" id="email" class="text" size="30" />
                      </div>
    
                      <div id="password" class="clearfix large_form">
                        <input type="password" value="" name="customer[password]" placeholder="{{ 'customer.register.password' | t }}" id="password" class="password text" size="30" />
                      </div>
    
                      <div class="action_bottom">
                        <span class="checkbox">{{ 'customer.register.news' | t }}<input type="checkbox" class="hide"></span>
                        <input class="btn" type="submit" value="{{ 'customer.register.submit' | t }}" />
                        <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
                      </div>
    
                    {% endform %}
    
                </div><!-- #register -->
            </div><!-- #customer-register -->
            </div>
          </div>
          <div class="col-md-6 side_content">
            <div class="content">
              <h3 class="las-17">{{ 'customer.register.new_user' | t }}</h3>
              <div class="info">
                {{ section.settings.info }}
                Sign up now and you will be able to:
                <ul>
                  <li>
                    &check; &nbsp;&nbsp;&nbsp;&nbsp; Receive our exclusive newsletter
                  </li>
                  <li>
                    &check; &nbsp;&nbsp;&nbsp;&nbsp; Save your wishlist
                  </li>
                  <li>
                    &check; &nbsp;&nbsp;&nbsp;&nbsp; Shop faster
                  </li>
                  <li>
                    &check; &nbsp;&nbsp;&nbsp;&nbsp; Check your orders
                  </li>
                  <li>
                    &check; &nbsp;&nbsp;&nbsp;&nbsp; Easily return and exchange
                  </li>
                </ul>
                <a class="btn" href="/account/login" >{{ 'customer.register.sign_in_now' | t }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% schema %}
  {
      "name": "register section",
      "settings": [
          {
              "type": "richtext",
              "id": "info",
              "label": "Page info"
          }
      ]
  }
  {% endschema %}
  