{% include 'gravityadmin' %}
<div style="display: none !important;  visibility: hidden !important;" class="cmspro-section" id="cmspro-09cfaf58"></div>
<div class="background_image">
  {% if section.settings.image %}
  <img src="{{section.settings.image | img_url: "master"}}"/>
{% endif %}
  <section class="page-heading">
  <div class="page-heading-wrapper">
    <div class="container">
      <div class="row flex-column">
        <div class="col-md-6 item">
          <div class="page-heading-banner">
            <img src="{{section.settings.banner | img_url: '2048x' }}">
          </div>
        </div>
        <div class="col-md-6 item">
          <div class="page-heading-inner">
            <h1 class="page-title block text-center">{{ section.settings.title }}</h1>
            {{ section.settings.text }}
            <a target="_blank" class="btn" href="{{section.settings.b_link}}">{{section.settings.b_title}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  
<div id='scasl-app-container' style="display:none">
<div class="bh-sl-container scasl-container" >
	<div id="page-header text-center">
		<h1 class="bh-sl-title">Store Location</h1>
	</div>

	<div class="bh-sl-form-container">
		<div id="scasl-tab-radius">
			<form id="bh-sl-user-location" class="scasl-distance" method="post" action="#">
				<div class="form-input">
					<label for="bh-sl-address">Current Location</label>
					<input type="text" id="bh-sl-address" name="bh-sl-address" />
                    <button id="scapl-geocode-btn" type="button">Find My Location</button>
				</div>

				<div class="form-input">
					<label for="scasl-radius-container">Search Radius</label>
					<select id="scasl-radius-container" name="bh-sl-maxdistance">
					</select>
				</div>

				<div class="form-input">
					<label for="scasl-lengthUnit">Search Radius Measurement</label>
					<select id="scasl-lengthUnit" name="scasl-lengthUnit">
						<option value="km">Kilometer</option>
						<option value="m">Mile</option>
					</select>
				</div>

				<div class="bh-sl-filters-container scasl-tag">
					<label for="scasl-tag-list-container">Tags</label>
					<ul id="scasl-tag-list-container" class="bh-sl-filters scasl-tag-list">
					</ul>
				</div>

				<div class="scasl-search-btn">
					<button id="bh-sl-submit" type="submit">Search</button>
				</div>
			</form>
		</div>
     
	</div>

	<div id="bh-sl-map-container" class="bh-sl-map-container scasl-map-container">
		<div class="bh-sl-loc-list scasl-location-list">
			<ul class="list"></ul>
		</div>
		<div id="bh-sl-map" class="bh-sl-map scasl-map"></div>
	</div>
</div>

</div>
<br style="clear:both !important;" />
<div class="ratiler_row">
<p>{{section.settings.re_head}}</p>
 {% for block in section.blocks %}
  <div class="storerow">
    <a href="{{block.settings.link}}">{{block.settings.head}}</a>
  </div>
 {% endfor %}
  <div class="disclaimer">
{{section.settings.disclaimer}}
</div>
</div>

<script src="//cdn.secomapp.com/storelocator/assets/cdn/js/infobubble.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script>
if("undefined"==typeof Handlebars&&"function"==typeof define&&define.amd){var scasl_tempamd=define.amd;define.amd=void 0;var scasl_fileref=document.createElement("script");scasl_fileref.setAttribute("type","text/javascript"),scasl_fileref.setAttribute("src","//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"),document.getElementsByTagName("head")[0].appendChild(scasl_fileref),setTimeout(function(){define.amd=scasl_tempamd},1e3)}
</script>

<link rel="stylesheet" type="text/css" href='{{ "sca.storelocator.css" | asset_url }}' />
<script id="scasl-infowindow-template" type="text">
{%raw%}
{{#location}}
<div id="scasl-window-container" class="scasl-info-window">
	<div class="scasl-info-location" {{#if store_image}} style="width:70%" {{/if}}>
		<div id="scasl-title" class="scasl-field" >{{name}}</div>
        <div id="scasl-description" class="scasl-field"><p>{{{description}}}</p></div>
        <div id="scasl-address" class="scasl-field">{{address}}</div>
        <div ><span id="scasl-city" class="scasl-field">{{city}}{{#if city}},{{/if}}</span> {{#if state}}<span id="scasl-state" class="scasl-field">{{state}}</span> <span id="scasl-zipcode" class="scasl-field">{{postal}}</span>{{/if}} <span id="scasl-country" class="scasl-field"> {{#if country}}{{country}}{{/if}}</span></div>
        {{#if phone}}<div id="scasl-phone" class="scasl-field"><span id="scasl-phone-label">Ph:</span> {{phone}} </div>{{/if}}
       	{{#if fax}}<div id="scasl-fax" class="scasl-field"><span id="scasl-fax-label">Fax:</span> {{fax}} </div>{{/if}}
        {{#if email}}<div id="scasl-email" class="scasl-field"><span id="scasl-email-label">Email:</span> {{email}} </div>{{/if}}
        {{#if schedule}}<div id="scasl-schedule" class="scasl-field"><span id="scasl-schedule-label">Schedule:</span> {{{schedule}}} </div>{{/if}}
        {{#each cfields}}
        <div id="scasl-extra">
          <span>{{key}}</span>:<span>{{{value}}}</span>
        </div>
        {{/each}}
        <div id="scasl-tags" class="scasl-field">
          {{#each tags}}
          <span class="scasl-tags">{{tag}}</span>
          {{/each}}
        </div>
        <div id="scasl-web" class="scasl-field"><a href="{{web}}" target="_blank">{{#if webdisplay}}{{webdisplay}}{{else}}{{niceURL web}}{{/if}}</a></div>
        {{#if distance}}
        <div id="scasl-distance" class="scasl-field">{{distance}} {{length}}</div>
        <div id="scasl-direction" class="scasl-field"><a href="https://maps.google.com/maps?saddr={{origin}}&amp;daddr={{address}} {{address2}} {{city}}, {{state}} {{postal}}" target="_blank">Directions</a></div>
        {{/if}}
	</div>

	{{#if store_image}}
	<div id="scasl-store_image" class="scasl-info-image scasl-field">
		<img src="{{store_image}}" />
	</div>
	{{/if}}
</div>
{{/location}}
{%endraw%}
</script>

<script id="scasl-list-template" type="text">
{%raw%}
{{#location}}
<li id="scasl-list-container" data-markerid="{{markerid}}">
	<div class="list-details scasl-list-details" {{#if store_image}} style="width:70%" {{/if}}>
		<div class="list-content scasl-list-content">
			<div id="scasl-title" class="scasl-field" >{{name}}</div>
            <div id="scasl-description" class="scasl-field"><p>{{{description}}}</p></div>
            <div id="scasl-address" class="scasl-field">{{address}}</div>
            <div ><span id="scasl-city" class="scasl-field">{{city}}{{#if city}},{{/if}}</span> {{#if state}}<span id="scasl-state" class="scasl-field">{{state}}</span> <span id="scasl-zipcode" class="scasl-field">{{postal}}</span>{{/if}} <span id="scasl-country" class="scasl-field"> {{#if country}}{{country}}{{/if}}</span></div>
            {{#if phone}}<div id="scasl-phone" class="scasl-field"><span id="scasl-phone-label">Ph:</span> {{phone}} </div>{{/if}}
       		{{#if fax}}<div id="scasl-fax" class="scasl-field"><span id="scasl-fax-label">Fax:</span> {{fax}} </div>{{/if}}
        	{{#if email}}<div id="scasl-email" class="scasl-field"><span id="scasl-email-label">Email:</span> {{email}} </div>{{/if}}
        	{{#if schedule}}<div id="scasl-schedule" class="scasl-field"><span id="scasl-schedule-label">Schedule:</span> {{{schedule}}} </div>{{/if}}
            {{#each cfields}}
            <div id="scasl-extra">
            <span>{{key}}</span>:<span>{{{value}}}</span>
            </div>
            {{/each}}
            <div id="scasl-tags" class="scasl-field">
            {{#each tags}}
            <span class="scasl-tags">{{tag}}</span>
            {{/each}}
            </div>
            <div id="scasl-web" class="scasl-field"><a href="{{web}}" target="_blank">{{#if webdisplay}}{{webdisplay}}{{else}}{{niceURL web}}{{/if}}</a></div>
            {{#if distance}}
				<div id="scasl-distance" class="scasl-field">{{distance}} {{length}}</div>
        		<div id="scasl-direction" class="scasl-field"><a href="https://maps.google.com/maps?saddr={{origin}}&amp;daddr={{address}} {{address2}} {{city}}, {{state}} {{postal}}" target="_blank">Directions</a></div>
			{{/if}}
		</div>
	</div>
	{{#if store_image}}
	<div id="scasl-store_image" class="list-image scasl-list-image scasl-field">
			<img src="{{store_image}}" />
	</div>
    {{/if}}
</li>
{{/location}}
{%endraw%}
</script>
  
<style>
#shopify-section-store-bg img {width: 100%;margin-bottom: 3em;}
h1.bh-sl-title {text-align: center;font-weight: 500;letter-spacing: 3px;font-size: 26px;} 
  
</style>
</div>
{% schema %}
  {
    "name": "Banner",
    "settings": [
		{
			"type":"image_picker",
			"id":"image",
			"label":"Image"
		},
		{
			"type":"text",
			"id":"re_head",
			"label":"Heading"
		},
		{
			"type":"text",
			"id":"disclaimer",
			"label":"Disclaimer"
    },
    {
      "type": "header",
      "content": "heading Location container"
    },
    {
      "type": "image_picker",
      "id": "banner",
      "label": "Banner"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "b_link",
      "label": "Button link"
    },
    {
      "type": "text",
      "id": "b_title",
      "label": "Button title"
    }
	],
 "blocks": [
    {
      "type": "links",
      "name": "Retailer",
      "settings": [
        {
          "type": "text",
          "id": "head",
          "label": "Store Name"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Link"
       
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
